body {
    background-color: #f1f1f1;
}

.container {
    width: 675px;
    margin: auto;
    border: 2px solid #bbb;
    padding: 3px;
}

h1 {
    margin-top: 10px;
}

h4 {
    font: arial, sans-serif;
    float: right;
    font-size: 16px;
    margin: 0;
    font-weight: lighter;
    display: inline-block;
    padding: 0;
}

div {
    margin-bottom: 5px;

}

.row {

    padding: 3px;
    background-color: #ddd;
    margin: 3px;
}

.byline {
    color: #9799a7;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 10px;
}

.byline2 {
    color: #9799a7;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    margin-bottom: 3px;
    font-size: 14px;
}